# Ignore node_modules and other dependencies
node_modules/
npm-debug.log
yarn-error.log

# Ignore built files
/dist/

# Ignore macOS system files
.DS_Store

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore application configuration files (if any)
config.json

.env
